USE [master]
GO
/****** Object:  Database [MusicCatalog]    Script Date: 1/27/2022 10:15:42 AM ******/
CREATE DATABASE [MusicCatalog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicCatalog', FILENAME = N'E:\SQLServer\SQL Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusicCatalog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicCatalog_log', FILENAME = N'E:\SQLServer\SQL Express\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusicCatalog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicCatalog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicCatalog]
GO
/****** Object:  Table [dbo].[Album]    Script Date: 1/27/2022 10:15:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Album](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ArtistName] [nvarchar](50) NOT NULL,
	[AlbumType] [int] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Album] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
